[Unit]
Description=Daily Secure Backup for Greendevcorp
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/admin/Practica1/scripts/04-backup.sh